<div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img class="lazyload"
      data-src="{{ img_url }}"
      data-widths="[360, 540, 700, 1024]"
      data-aspectratio="{{ image.aspect_ratio }}"
      data-sizes="auto"
      role="{{ role }}"
      alt="{{ image.alt }}">
  <noscript>
    <img class="lazyloaded" src="{{ image | img_url: '540x' }}" alt="{{ image.alt }}">
  </noscript>
</div>