{%- liquid
  assign main_menu = linklists[section.settings.main_menu_link_list]
  assign toolbar_menu = linklists[section.settings.toolbar_menu]

  assign logo_alignment = 'left'
  if section.settings.main_menu_alignment == 'center-left' or section.settings.main_menu_alignment == 'center-split' or section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-drawer'
    assign logo_alignment = 'center'
  endif

  assign dropdown_alignment = 'left'
  if section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'center-split' or section.settings.main_menu_alignment == 'center'
    assign dropdown_alignment = 'center'
  endif

  assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle

  assign sticky_header = false
  if section.settings.header_style == 'sticky'
    assign sticky_header = true
  endif
  assign overlay_header = false
  if template_name == 'index' and section.settings.sticky_index
    assign overlay_header = true
  endif
  if template_name == 'collection' and collection.image and section.settings.sticky_collection
    assign overlay_header = true
  endif
-%}

{%- render 'drawer-menu',
  section: section,
  main_menu: main_menu,
  toolbar_menu: toolbar_menu,
  logo_alignment: logo_alignment
-%}
{%- render 'cart-drawer' -%}

<style>
  .site-nav__link,
  .site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level) {
    font-size: {{ settings.type_navigation_size }}px;
  }
  {% if settings.type_navigation_capitalize %}
    .site-nav__link, .mobile-nav__link--top-level {
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    .mobile-nav__link--top-level {
      font-size: 1.1em;
    }
  {% endif %}

  {% if mainmenu.length > 6 %}
    .site-nav__link {
      padding-left: 10px;
      padding-right: 10px;
    }
  {% endif %}

  {% unless section.settings.mega_menu_images %}
    .megamenu__colection-image {
      display: none;
    }
  {% endunless %}

  {%- if settings.color_header == settings.color_body_bg or settings.color_body_bg contains settings.color_header -%}
    .site-header {
      box-shadow: 0 0 1px rgba(0,0,0,0.2);
    }

    .toolbar + .header-sticky-wrapper .site-header {
      border-top: 0;
    }
  {%- endif -%}

  {%- if settings.color_announcement == settings.color_body_bg -%}
    .announcement-bar {
      border-bottom: 1px solid;
    }
  {%- endif -%}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header">
  {%- if overlay_header or section.settings.announcement_above_header -%}
    {%- render 'announcement-bar', section: section -%}
  {%- endif -%}

  {%- unless overlay_header -%}
    {%- if section.settings.show_locale_selector or section.settings.show_currency_selector or section.settings.toolbar_social or section.settings.toolbar_menu != blank -%}
      {%- render 'toolbar',
        section: section,
        toolbar_menu: toolbar_menu,
        overlay_header: overlay_header
      -%}
    {%- endif -%}
  {%- endunless -%}

  <div class="header-sticky-wrapper">
    <div id="HeaderWrapper" class="header-wrapper{% if overlay_header %} header-wrapper--sticky is-light{% endif %}">

      {%- if overlay_header -%}
        {%- if section.settings.show_locale_selector or section.settings.show_currency_selector or section.settings.toolbar_social or section.settings.toolbar_menu != blank -%}
          {%- render 'toolbar',
            section: section,
            toolbar_menu: toolbar_menu,
            overlay_header: overlay_header
          -%}
        {%- endif -%}
      {%- endif -%}
      <header
        id="SiteHeader"
        class="site-header{% if settings.type_navigation_style == 'heading' %} site-header--heading-style{% endif %}"
        data-sticky="{{ sticky_header }}"
        data-overlay="{{ overlay_header }}">
        <div>
          <div class="page-width">
            <div
              class="header-layout header-layout--{{ section.settings.main_menu_alignment }}"
              data-logo-align="{{ logo_alignment }}">
  
              {%- if logo_alignment == 'left' -%}
                <div class="header-item header-item--logo">
                  {%- render 'header-logo-block', section: section -%}
                </div>
              {%- endif -%}
  
              {%- if logo_alignment == 'left' and section.settings.main_menu_alignment != 'left-drawer' -%}
                <div class="header-item header-item--navigation{% if section.settings.main_menu_alignment == 'left-center' %} text-center{% endif %}">
                  {%- render 'header-desktop-nav', main_menu: main_menu, dropdown_alignment: dropdown_alignment -%}
                </div>
              {%- endif -%}
  
              {%- if logo_alignment == 'center' -%}
                <div class="header-item header-item--left header-item--navigation">
                  {%- if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' -%}
                    {%- if settings.search_enable -%}
                      <div class="site-nav small--hide">
                        <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
                          <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
  
                  {%- if section.settings.main_menu_alignment == 'center-left' -%}
                    {%- render 'header-desktop-nav', main_menu: main_menu, dropdown_alignment: dropdown_alignment -%}
                  {%- endif -%}
  
                  <div class="site-nav{% unless section.settings.main_menu_alignment == 'center-drawer' %} medium-up--hide{% endunless %}">
                    <button
                      type="button"
                      class="site-nav__link site-nav__link--icon js-menu-open"
                      aria-controls="NavDrawer">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger icon-menu-open" viewBox="0 0 64 64"><path d="M7 15h51M7 32h43M7 49h51"/></svg>
                      <svg class="icon icon-menu-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
                        <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "/>
                      </svg>
                      <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
                    </button>
                  </div>
                </div>
  
                {%- if section.settings.main_menu_alignment == 'center-split' -%}
                  {%- render 'header-split-nav', main_menu: main_menu, section: section, dropdown_alignment: dropdown_alignment -%}
                {%- endif -%}
  
                {%- if section.settings.main_menu_alignment != 'center-split' -%}
                  <div class="header-item header-item--logo">
                    {%- render 'header-logo-block', section: section -%}
                  </div>
                {%- endif -%}
              {%- endif -%}
  
              <div class="header-item header-item--icons">
                {%- render 'header-icons', section: section -%}
              </div>
            </div>
  
            {%- if section.settings.main_menu_alignment == 'center' -%}
              <div class="text-center">
                {%- render 'header-desktop-nav', main_menu: main_menu, dropdown_alignment: dropdown_alignment -%}
              </div>
            {%- endif -%}
          </div>
          <div class="site-header__search-container">
            <div class="site-header__search">
              <div class="page-width">
                <form action="{{ routes.search_url }}" method="get" role="search"
                  id="HeaderSearchForm"
                  class="site-header__search-form">
                  <input type="hidden" name="type" value="{{ settings.search_type }}">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button type="submit" class="text-link site-header__search-btn site-header__search-btn--submit">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
                    <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
                  </button>
                  <input type="search" name="q" value="{{ search.terms | escape | replace: '*', '' }}" placeholder="{{ 'general.search.placeholder' | t }}" class="site-header__search-input" aria-label="{{ 'general.search.placeholder' | t }}">
                </form>
                <button type="button" id="SearchClose" class="js-search-header-close text-link site-header__search-btn">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
                  <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                </button>
              </div>
            </div>
            {%- if settings.predictive_search_enabled -%}
              <div id="PredictiveWrapper" class="predictive-results hide" data-image-size="{{ settings.predictive_image_size }}">
                <div class="page-width">
                  <div id="PredictiveResults" class="predictive-result__layout"></div>
                  <div class="text-center predictive-results__footer">
                    <button type="button" class="btn btn--small" data-predictive-search-button>
                      <small>
                        {{ 'general.search.view_more' | t }}
                      </small>
                    </button>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>

        {% for block in section.blocks %}
          {% if block.type == 'megamenu' %}
            <div class="megamenu" style="background: {{ block.settings.menu_bg }}">
              <div class="megamenu-wrapper aos-animate" data-aos>
                <div class="page-width">
                  {% for i in (1..5) %}
                    {% assign t_key = 'menu_title' | append: i %}
                    {% assign u_key = 'menu_link' | append: i %}
                    {% assign img_key = 'image' | append: i %}

                    {% if block.settings[u_key] != blank %}
                      <div class="megamenu-item">
                        <div class="menu_title">
                          <a href="{{ block.settings[u_key] }}">{{ block.settings[t_key] }}</a>
                        </div>
                        <div class="menu_image">
                          <a href="{{ block.settings[u_key] }}">
                            {% render 'rimage', image: block.settings[img_key] %}
                          </a>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </header>
    </div>
  </div>

  {%- unless overlay_header or section.settings.announcement_above_header -%}
    {%- render 'announcement-bar', section: section -%}
  {%- endunless -%}
</div>

<div data-megamenu-bg></div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_menu_link_list",
        "label": "Navigation",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "mega_menu_images",
        "label": "Show mega menu images",
        "default": true,
        "info": "[How to create a mega menu](https://archetypethemes.co/blogs/impulse/how-do-i-create-a-mega-menu)"
      },
      {
        "type": "select",
        "id": "main_menu_alignment",
        "label": "Header layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Logo left, menu left"
          },
          {
            "value": "left-center",
            "label": "Logo left, menu center"
          },
          {
            "value": "left-drawer",
            "label": "Logo left, menu drawer"
          },
          {
            "value": "center-left",
            "label": "Logo center, menu left"
          },
          {
            "value": "center-split",
            "label": "Logo center, menu split"
          },
          {
            "value": "center",
            "label": "Logo center, menu below"
          },
          {
            "value": "center-drawer",
            "label": "Logo center, menu drawer"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_style",
        "label": "Header style",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "sticky",
            "label": "Sticky"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "sticky_index",
        "label": "Overlay header over home page",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sticky_collection",
        "label": "Overlay header over collection",
        "info": "(if collection image is enabled)",
        "default": false
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_compact",
        "label": "Use compact style"
      },
      {
        "type": "checkbox",
        "id": "announcement_above_header",
        "label": "Always show above header"
      },
      {
        "type": "header",
        "content": "Toolbar"
      },
      {
        "type": "link_list",
        "id": "toolbar_menu",
        "label": "Navigation",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "toolbar_social",
        "label": "Show social icons"
      },
      {
        "type": "header",
        "content": "Language selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_currency_flags",
        "label": "Show currency flags",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "image_picker",
            "id": "logo-inverted",
            "label": "White logo",
            "info": "Used when on top of an image"
          },
          {
            "type": "range",
            "id": "desktop_logo_width",
            "label": "Desktop logo width",
            "default": 200,
            "min": 100,
            "max": 400,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "mobile_logo_width",
            "label": "Mobile logo width",
            "default": 140,
            "min": 60,
            "max": 200,
            "step": 10,
            "unit": "px",
            "info": "Set as a max-width, may appear smaller"
          }
        ]
      },
      {
        "type": "announcement",
        "name": "Announcement",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Heading",
            "default": "Hassle-free returns"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Text",
            "default": "30-day postage paid returns"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "megamenu",
        "name": "Megamenu",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Background"
          },
          {
            "type": "color",
            "id": "menu_bg",
            "label": "Background",
            "default": "#01bd70"
          },
          {
            "type": "header",
            "content": "Menu 1"
          },
          {
            "type": "text",
            "id": "menu_title1",
            "label": "Menu title"
          },
          {
            "type": "url",
            "id": "menu_link1",
            "label": "Menu link"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Menu 2"
          },
          {
            "type": "text",
            "id": "menu_title2",
            "label": "Menu title"
          },
          {
            "type": "url",
            "id": "menu_link2",
            "label": "Menu link"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Menu 3"
          },
          {
            "type": "text",
            "id": "menu_title3",
            "label": "Menu title"
          },
          {
            "type": "url",
            "id": "menu_link3",
            "label": "Menu link"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Menu 4"
          },
          {
            "type": "text",
            "id": "menu_title4",
            "label": "Menu title"
          },
          {
            "type": "url",
            "id": "menu_link4",
            "label": "Menu link"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Menu 5"
          },
          {
            "type": "text",
            "id": "menu_title5",
            "label": "Menu title"
          },
          {
            "type": "url",
            "id": "menu_link5",
            "label": "Menu link"
          },
          {
            "type": "image_picker",
            "id": "image5",
            "label": "Image"
          }
        ]
      }
    ],
    "default": {
      "settings": {}
    }
  }
{% endschema %}
